body, html{
  height: 100%;
  font-family: 'Girassol', cursive;
}

.container{
  text-align: center;
  padding: 50px;
}

.form-group{
  text-align: left;
}

.jumbotron{
  text-align: center;
}

.col-md-6 {
  padding: 50px;
}

#address {
  padding-left: 100px;
  text-align: left;
  line-height: 10px;
}

#img_rocket {
  width: 75%;
}
