body, html{
  height: 100%;
}

.hero-image-landing {
  background-image: url(./Assets/black_square.svg);
  height: 95%;
  background-repeat: no-repeat;
  position: ab;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#landing_subtitle {
  padding-top: 350px;
}

#about_text {
  margin-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.display-1 {
  text-align: center;
}

.container-fluid {
  height: 100%;
}

.fill-height {
  min-height: 95%;
  height:auto; /* cross-browser */
  height: 95%; /* cross-browser */
}

.container {
  text-align: center;
}
