body, html{
  height: 100%;
}

.container{
  text-align: center;
  padding: 50px;
}

.form-group{
  text-align: left;
}

.jumbotron{
  text-align: center;
}

.img-fluid {
  padding: 20px;
}

.img {
  height: 50px;
  padding: 10px;
}

#team_photos {
  line-height: 20px;
}

#join_text {
  padding-left: 30px;
  padding-right: 30px;
}
